.wrapper {
  background-color: #282c34;
  width: 1440px;
  height: 1024px;
}
.App {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 250px;
  left: 420px;
  top: 362px;
  background-color: antiquewhite;
  border-radius: 20px;
  align-items: center;
  padding: 30px;
}
.quote-box {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.new-quote {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.new-quote:hover,
.new-quote:focus {
  background-color: #f082ac;
}
.twitter {
  width: 40px;
  height: 40px;
  margin: 10px;
}
